

<!DOCTYPE html>
<html lang=fr>
<head>
    <meta charset="UTF-8">
    <title>Patrick SANCHEZ | Developpeur Web</title>
    <link rel="stylesheet" href="{{asset('css/bootstrap.css')}}"/>
    <link rel="stylesheet" href="{{asset('css/style.css')}}"/>
    <script src="{{asset('js/bootstrap.js')}}"></script>
    <script src="{{asset('js/npm.js')}}"></script>

</head>

<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid ">
        <div class="navbar-header"> <a class="navbar-brand" href="#"><img src="{{asset('image/logo.png')}}" alt="..." class="navIcon"></a></div>
        <ul class="nav navbar-nav">
            <li>
                <a href="#"><img src="{{ asset('image/icon-cv.png') }}" alt="..." class="navIcon" ></a>
            </li>
            <li>
                <a href="#"><img src="{{ asset('image/icon-project.png') }}" alt="..." class="navIcon"></a>
            </li>
            <li>
                <a href="#"><img src="{{ asset('image/icon-award.png') }}" alt="..." class="navIcon"></a>
            </li>
            <li>
                <a href="#"><img src="{{ asset('image/icon-mail.png') }}" alt="..." class="navIcon"></a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid">
    <div class="partie1">

        <h1 class="titrePage">Patrick SANCHEZ</h1>
        <h2 class="sousTitrePage">Développeur Web Junior</h2>
    </div>
</div>

<!---------Partie2--------->

<div class="container-fluid">
    <div class="partie2">
        <div class="row">
            <div class="col-lg-offset-1 col-lg-5 col-md-offset-1 col-lg-6 col-sm-12 col-xs-12 presentation">
                 <p class="pPresentation"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aspernatur cum earum facilis, maiores minima qui reprehenderit temporibus. Autem deleniti est fugiat impedit laudantium magni modi omnis similique temporibus voluptas!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aspernatur cum earum facilis, maiores minima qui reprehenderit temporibus. Autem deleniti est fugiat impedit laudantium magni modi omnis similique temporibus voluptas!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aspernatur cum earum facilis, maiores minima qui reprehenderit temporibus. Autem deleniti est fugiat impedit laudantium magni modi omnis similique temporibus voluptas!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aspernatur cum earum facilis, maiores minima qui reprehenderit temporibus. Autem deleniti est fugiat impedit laudantium magni modi omnis similique temporibus voluptas!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aspernatur cum earum facilis, maiores minima qui reprehenderit temporibus. Autem deleniti est fugiat impedit laudantium magni modi omnis similique temporibus voluptas!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aspernatur cum earum facilis, maiores minima qui reprehenderit temporibus. Autem deleniti est fugiat impedit laudantium magni modi omnis similique temporibus voluptas!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aspernatur cum earum facilis, maiores minima qui reprehenderit temporibus. Autem deleniti est fugiat impedit laudantium magni modi omnis similique temporibus voluptas!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aspernatur cum earum facilis, maiores minima qui reprehenderit temporibus. Autem deleniti est fugiat impedit laudantium magni modi omnis similique temporibus voluptas!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aspernatur cum earum facilis, maiores minima qui reprehenderit temporibus. Autem deleniti est fugiat impedit laudantium magni modi omnis similique temporibus voluptas!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aspernatur cum earum facilis, maiores minima qui reprehenderit temporibus. Autem deleniti est fugiat impedit laudantium magni modi omnis similique temporibus voluptas!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aspernatur cum earum facilis, maiores minima qui reprehenderit temporibus. Autem deleniti est fugiat impedit laudantium magni modi omnis similique temporibus voluptas!
                </p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 cv">
                <p class="pCv">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aspernatur cum earum facilis, maiores minima qui reprehenderit temporibus. Autem deleniti est fugiat impedit laudantium magni modi omnis similique temporibus voluptas!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aspernatur cum earum facilis, maiores minima qui reprehenderit temporibus. Autem deleniti est fugiat impedit laudantium magni modi omnis similique temporibus voluptas!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aspernatur cum earum facilis, maiores minima qui reprehenderit temporibus. Autem deleniti est fugiat impedit laudantium magni modi omnis similique temporibus voluptas!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aspernatur cum earum facilis, maiores minima qui reprehenderit temporibus. Autem deleniti est fugiat impedit laudantium magni modi omnis similique temporibus voluptas!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aspernatur cum earum facilis, maiores minima qui reprehenderit temporibus. Autem deleniti est fugiat impedit laudantium magni modi omnis similique temporibus voluptas! rem ipsum dolor sit amet, consectetur adipisicing elit. Amet aspernatur cum earum facilis, maiores minima qui reprehenderit temporibus. Autem deleniti est fugiat impedit laudantium magni modi omnis similique temporibus voluptas!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aspernatur cum earum facilis, maiores minima qui reprehenderit temporibus. Autem deleniti est fugiat impedit laudantium magni modi omnis similique temporibus voluptas!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aspernatur cum earum facilis, maiores minima qui reprehenderit temporibus. Autem deleniti est fugiat impedit laudantium magni modi omnis similique temporibus voluptas!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aspernatur cum earum facilis, maiores minima qui reprehenderit temporibus. Autem deleniti est fugiat impedit laudantium magni modi omnis similique temporibus voluptas!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aspernatur cum earum facilis, maiores minima qui reprehenderit temporibus. Autem deleniti est fugiat impedit laudantium magni modi omnis similique temporibus voluptas!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aspernatur cum earum facilis, maiores minima qui reprehenderit temporibus. Autem deleniti est fugiat impedit laudantium magni modi omnis similique temporibus voluptas!
                </p>
            </div>
         </div>
    </div>
</div>


<div class="container-fluid">
    <div class="partie3">
 <h2 class="sousTitrePage">Projets</h2>

    </div>
</div>



<!--------SKILLS----->
<div class="container">
    <div class="skills">
        <div class="charts">
            <div class="chart chart--dev">
                <span class="chart__title">Developpement</span>
                <ul class="chart--horiz">
                    <li class="chart__bar" data-skill="75">
                        <span class="chart__label">
                        HTML(5)
                        </span>
                    </li>
                    <li class="chart__bar" data-skill="70">
                        <span class="chart__label">
                        CSS(3)
                        </span>
                    </li>
                    <li class="chart__bar" data-skill="35">
                        <span class="chart__label">
                        JavaScript
                        </span>
                    </li>
                    <li class="chart__bar" data-skill="65">
                        <span class="chart__label">
                        PHP
                        </span>
                    </li>
                    <li class="chart__bar" data-skill="50">
                        <span class="chart__label">
                        MySql
                        </span>
                    </li>
                    <li class="chart__bar" data-skill="50">
                        <span class="chart__label">
                        Git + Github
                        </span>
                    </li>
                    <li class="chart__bar" data-skill="40">
                        <span class="chart__label">
                        JQuery
                        </span>
                    </li>
                    <li class="chart__bar" data-skill="55">
                        <span class="chart__label">
                        Wordpress
                        </span>
                    </li>
                </ul>
            </div>
            <div class="chart chart--design">
                <span class="chart__title">Design / Audiovisuel</span>
                <ul class="chart--horiz">
                    <li class="chart__bar" data-skill="45">
                        <span class="chart__label">
                        Photoshop
                        </span>
                    </li>
                    <li class="chart__bar" data-skill="70">
                        <span class="chart__label">
                        Adobe Premiere Pro CC
                        </span>
                    </li>
                    <li class="chart__bar" data-skill="75">
                        <span class="chart__label">
                        Adobe After Effects CC
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-----FIN SKILLS--------->





<!-- <div class="container">
   <div class="row">
       <div class="col-lg-4 col-md-4">
           <a href="#" class="thumbnail"> <img src="..." alt="..."> </a>
       </div>
       <div class="col-lg-4 col-md-4">
           <a href="#" class="thumbnail"> <img src="..." alt="..."> </a>
       </div>
       <div class="col-lg-4 col-md-4">
           <a href="#" class="thumbnail"> <img src="..." alt="..."> </a>
       </div>
   </div>
   </div>-->
<footer>
    <div class="container ">
    </div>
</footer>
</body>
</html>

